@model IEnumerable<WhyChoose>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Authors table</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            
                                                <div>
                                                   @item.Title
                                                </div>
                                               
                                         
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@item.Description</p>
                                           
                                        </td>
                                        <td>
                                            <form method="post">
                                                <button asp-area="Admin" type="submit" asp-controller="WhyChoose" asp-action="Delete"data-id="@item.Id" data-name="Card" asp-route-id="@item.Id" class="btn btn-book text-danger px-2 m-0 delete-item"> <i class="fas fa-trash"></i></button>
                                                <a class="text-secondary" asp-controller="WhyChoose" asp-action="Update"   asp-route-id="@item.Id" ><i class="far fa-edit px-2 "></i></a>

                                            </form>

                                          
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                        <a asp-area="Admin" class="btn btn-book" asp-controller="WhyChoose" asp-action="Create"> Create</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
