
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<Features>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Features table</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Icon</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Title</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Description</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                                   
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-4 py-1">
                                                <div style="font-size: 5.5rem;">
                                                    @Html.Raw(item.IconUrl)
                                                </div>

                                            </div>
                                        </td>
                                        <td>
                                          @item.Title
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <textarea  rows="8" cols="40">@item.Description</textarea>
                                        </td>

                                        <td class="align-middle">
                                            <a asp-action="Update" asp-controller="Features" asp-route-id="@item.Id" class="text-secondary font-weight-bold text-xs px-2" data-toggle="tooltip" data-original-title="Edit card">
                                                Edit
                                            </a>
                                            <a asp-action="Delete" asp-controller="Features" asp-route-id="@item.Id" class="text-danger font-weight-bold text-xs px-2" data-toggle="tooltip" data-original-title="delete card">
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                        <a asp-controller="Features" asp-action="Create" class="btn btn-github mx-4" style="color:green">Create  <i class="fas fa-plus" style="color:green"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

